<style>
  .home {
    max-width: 100vw;
    height: 100%;
  }
</style>

<div class="d-flex flex-column justify-content-center align-items-center gap-3 home">
  <h1>Controle de usuários</h1>
  <a class="btn btn-link" href="./users-list">Listagem de usuários</a>
  <a class="btn btn-link" href="./users-new">Cadastrar novo usuário</a>
</div>